{% comment %}

Landscape by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license

Name:

Default layout

Description:

Basic HTML foundation for all pages.

Example:

---
layout: default
---

{% endcomment %}

<!DOCTYPE HTML>
<html lang="de">

<head>
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta charset="utf-8" />
	<meta name="description"
		content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
</head>

<body class="is-preload">

	{{ content }}

	<!-- Scripts -->
	<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/util.js"></script>
	<script src="{{ site.baseurl }}/assets/js/main.js"></script>

</body>

</html>